.card-container {
    perspective: 1000px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);


}

.card {
    width: 200px;
    height: 300px;
    position: absolute;
    left: 25%;
    top: 25%;
    
    background-color: rgb(128, 128, 128,0.8);
    transform-style:preserve-3d ;
    transform: rotateY(20deg);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    animation: Appear 2s linear forwards;
}
@keyframes Appear {
    0% {

        transform: rotateY(180deg);
                width: 200px;
        height: 300px;
        position: absolute;
        left: 100%;
        top: 100%;
    }
    70% {
        transform: rotateY(0deg);
        width: 200px;
        height: 300px;
        position: absolute;
        left: 25%;
        top: 25%;

        
    }
    85%{
        transform: rotateY(0deg);
        width: 200px;
        height: 300px;
        position: absolute;
        left: 25%;
        top: 25%;

    }
    100% {
        transform: rotateY(0deg);
        width: 200px;
        height: 300px;
        position: absolute;
        left: 25%;
        top: 25%;
        border: 5px solid #5bd0ff;
        box-shadow: 0 0 30px rgb(92, 236, 255);

}}
.card:hover {
    transform: rotateY(0deg);
    border-radius: 10px;
}
.card-text{
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: "SimSun", "宋体", serif;
    animation:  Text 1s linear forwards;
}
@keyframes Text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  
