.HeadImage {        /*头像*/
  width: 50px;
  height: 50px;
 
  
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: 20px;

}
.Background{   /*背景*/
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("pictures/登录注册图.png");
    background-size: 100% 100%;
    background-position: center;
    
    z-index: -1;
}
.Leaderboard {    /*底部导航栏*/
    position: relative;
    top: 0%;
 
    width: 70px;
    height: 70px;
    background-color: rgb(93, 177, 245);
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: translate(0, 0);


    
}
.Leaderboard:hover {
    background-color: rgb(36, 156, 255);
    transition: 0.5s;

}
.GateShow{
 
    position: absolute;
    top: 197px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}
.gate-show {    /*游戏关卡*/
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.gate-show:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.PreviousAchevement{/*最近成就*/
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    height: 70px;
    background-color: white;

   
    cursor: pointer;
}
.StartGame{/*开始游戏*/
    position: absolute;
    bottom: 0px;
    right:10px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
}
.StartGame::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);  /* 添加旋转90度 */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;    /* 左边框宽度 */
    border-right: 10px solid transparent;   /* 右边框宽度 */
    border-bottom: 17.32px solid rgba(44, 143, 255, 0.5); /* 底边框高度 */
}
.StartGame:hover{
    background-color: #f0f0f0;
}
.Locked{
    width: 20px;
    height: 20px;
    background-image: url("pictures/游戏ui/关卡界面/未解锁.png");
    position: relative;
    bottom: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;
}
.Complecated{
    width: 20px;
    height: 20px;
    background-image: url("pictures/游戏ui/关卡界面/已完成.png");
    position: relative;
    bottom: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;

}
.strength{
    width:25px;
    height:20px;
    background-image: url("pictures/游戏ui/顶部导航栏/钞票.png");
    position: relative;
    bottom: 20px;
    right: 40px;
    background-size: cover;
    background-position: center;
}
.select{
    width:25px;
    height:20px;
    background-image: url("pictures/游戏ui/顶部导航栏/金币.png");
    position: relative;
    bottom: 20px;
    right: 40px;
    background-size: cover;
    background-position: center;

}
.Stars{
    width:20px;
    height:20px;
    background-image: url("pictures/游戏ui/关卡界面/难度（实星）.png");
    position: relative;
    bottom: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;
}
.EmptyStars{
    width:20px;
    height:20px;
    background-image: url("pictures/游戏ui/关卡界面/难度（虚星）.png");
    position: relative;
    bottom: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;
}
.Function{/*设置*/
    position: absolute;
    top: 10px;
   
    
    right:40px;
    width:20px;
    height:20px;
    background-size: cover;
    background-position: center;
  
    cursor: pointer;
    transition:0.3s;
    color: rgb(0, 0, 0);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pictures/游戏ui/顶部导航栏/设置.png");
}
.Achievement{
    position: absolute;
    top: 10px;
   
    
    right:10px;
    width:20px;
    height:20px;
    background-size: cover;
    background-position: center;
  
    cursor: pointer;
    transition:0.3s;
    color: rgb(0, 0, 0);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pictures/游戏ui/顶部导航栏/成就.png");
}



.Function:hover{
  
    cursor: pointer;
    transition:0.3s;
}
.SelectCards{/*抽卡*/
    position: absolute;
    left: 50%;
    width: 60%;
    height: 150px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);


}
.SelectCards:hover{
    background-color: #f0f0f0;
    transition: 0.3s;
}
.AbilityShow{

    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.TranslateBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ColorChange 0.7s ease-in-out forwards;
}
@keyframes ColorChange {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 1);
    }
}
.SetBackground{
    width: 100%;
    height: 100%;
    /*background-image:url("pictures/设置背景.png");
    background-size: 100% 100%;*/
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;

    
    
}

.SetTopButton {
    width: 125px;
    height: 50px;
    border-top: 25px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      transition: 0.5s;
    
}
.SetTopButton:hover{
    width: 180px;
    height: 70px;
    border-top: 40px solid rgb(255, 255, 255);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
    transition: 0.5s;
    
}

.SetButtomButton {
    width: 125px;
    height: 0;
    border-bottom: 25px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 130px;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.SetButtomButton:hover{
    width: 180px;
    height: 0;
    border-bottom: 40px solid rgb(255, 255, 255);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 130px;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
    transition: 0.5s;
}
.SetLeftButton {
    width: 0;
    height: 125px;
    border-left: 25px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    left: 130px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.SetLeftButton:hover{
    width: 0;
    height: 180px;
    border-left: 40px solid rgb(255, 255, 255);
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    left: 130px;
    top: 50%;
    transition: 0.5s;
}
.SetRightButton {
    width: 0;
    height: 125px;
    border-right: 25px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.SetRightButton:hover{
    width: 0;
    height: 180px;
    border-right: 40px solid rgb(255, 255, 255);
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    right: 130px;
    top: 50%;
    transition: 0.5s;
}
.ChangePerson{
    position: absolute;
    width: 150px;
    height: 50px;
 
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    left: 10%;
    top: 100px;
    transform: translate(0%, -50%);
}
.ChangePerson:hover{
    border: 2px solid rgb(36, 156, 255);
    transition: 0.3s;
    background-color:rgb(93, 177, 245,0.3) ;

}
.Sound{
    position: absolute;
    width: 150px;
    height: 50px;
 
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    left: 10%;
    top: 180px;
    transform: translate(0%, -50%);

}
.Sound:hover{
    border: 2px solid rgb(36, 156, 255);
    transition: 0.3s;
    background-color:rgb(93, 177, 245,0.3) ;

}
.Help{
    position: absolute;
    width: 150px;
    height: 50px;
 
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    left: 10%;
    top: 260px;
    transform: translate(0%, -50%);

}
.Help:hover{
    border: 2px solid rgb(36, 156, 255);
    transition: 0.3s;
    background-color:rgb(93, 177, 245,0.3) ;

}
.About{
    position: absolute;
    width: 150px;
    height: 50px;
 
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    left: 10%;
    top: 340px;
    transform: translate(0%, -50%);

}
.About:hover{
    border: 2px solid rgb(36, 156, 255);
    transition: 0.3s;
    background-color:rgb(93, 177, 245,0.3) ;

}
.Logout{
    position: absolute;
    width: 150px;
    height: 50px;
 
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    left: 10%;
    top: 420px;
    transform: translate(0%, -50%);}

.Logout:hover{
    border: 2px solid rgb(36, 156, 255);
    transition: 0.3s;
    background-color:rgb(93, 177, 245,0.3) ;

}
.BackToMain{
    position: absolute;
    width: 150px;
    height: 50px;
 
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: flex;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    left: 10%;
    top: 500px;
    transform: translate(0%, -50%);
}   
.BackToMain:hover{
    border: 2px solid rgb(36, 156, 255);
    transition: 0.3s;
    background-color:rgb(93, 177, 245,0.3) ;

}
.PersonChangePage{
    position: absolute;
    left: 10px;
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    animation: PersonChangePage 0.7s ease-in-out forwards;
}
@keyframes PersonChangePage {
    from {
        left: 300px;
    }
    to {
        left: 0px;
    }
}
.SoundPage{
    position: absolute;
    
    width: 100%;
    height: 90%;
    background-color: rgba(251, 251, 251, 0.8);
    z-index: 1;
    animation: SoundPage 0.7s ease-in-out forwards;
}
@keyframes SoundPage {
    from {
    
        left: 300px;
    }
    to {
        left: 0px;
    }
}
.HelpPage{
    position: absolute;
    
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    animation: HelpPage 0.7s ease-in-out forwards;
}
@keyframes HelpPage {
    from {
        left: 300px;
    }
    to {
        left: 0px;
    }
}
.AboutPage{
    position: absolute;
    left: 50px;
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    animation: AboutPage 0.7s ease-in-out forwards;
}
@keyframes AboutPage {
    from {
        left: 300px;
    }
    to {
        left: 0px;
    }}
.DefaultPage{
    position: absolute;
    left: 50px;
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    animation: DefaultPage 0.7s ease-in-out forwards;
}
@keyframes DefaultPage {
    from {
        left: 300px;
    }
    to {
        left: 0px;
    }}

